.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.alert-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 10;
}

.alert-box-actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
